@charset "UTF-8";

@font-face {
    font-family: myFirstFont;
    src: url(BugBusting-OVpne.otf);
}

/*------ css general styles ------*/

.hidden 
{
    display: none;
}

body
{
    font-family: 'Poppins', sans-serif ;
}

h1{
  font-family: myFirstFont;
  font-size: 1.875em;
}

p
{
  font-size: 1em;
  margin: 10px;
}

a
{
  text-decoration: none; 
}

.logo img
{
  height: 4em;
}

/*------ css nav ------*/

.mainNavbar
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #313131;
    box-shadow: 0px 15px 30px #0000000d;
    opacity: 1;
    align-content: space-around;
    align-items: center;
}

.mainNavbar ul li
{
    flex-wrap: nowrap;
    display: inline-flex;
    flex-wrap: nowrap;
    margin: 20px;
    padding: 10px;
}

.mainNavbar ul li a
{
    text-decoration: none;
    color: #FFF8F3;
    text-align: center;
}

.mainNavbar ul li a:hover
{
    font-weight: bold;
    transition: 1s;
}

#hamburgerMenu
{
    padding: 20px;
    justify-content: center;
    width: 4%;
    height: 4%;
    display: none;
}

/*------ css main ------*/

.hero
{
    max-width: 100%;
    block-size: auto; 
}

.heroContent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.heroContent img
{
  width: 50% ;
}

#heroText 
{
  background: url(../images/bg_orange.jpg);
  background-repeat: no-repeat;
  background-size: 100%, 100%;
  height: 23.45em;
  width: 46em;
  color: #FFF8F3;
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

.productDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}

.productDetails img{
  height: 300px;
}

.benefits
{
  background: url(../images/third_section_bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.benefits p
{
  color: #313131;
}


/*------ css footer ------*/

.mainFooter
{
  display: flex;
  flex-direction: row;
  background-color: #313131;
  max-width: 100%;
  height: 200px;
  justify-content: space-around;
  align-items: center;
}

.footerNav ul li 
{
    padding: 8px;
    font-size: 0.8em;
    text-align: right;
}


.footerNav ul li a, p 
{
    text-decoration: none;
    color: #FFF8F3;
}

.footerLeft p
{
  font-size: 0.7em;
  padding: 2em;
}

.footerRight {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  width: 50%;
}

/*------ css home ------*/

/* home - mobile */

@media only screen and (max-width:448px) 
{
    .sitecontainer
    {
        max-width: 1024px;
    }

    .mainNavbar
    {
        flex-direction: column;
        position: sticky;
    }

    #hamburgerMenu
    {
        display: block;
    }

    .mainFooter
    {
      flex-direction: column;
    }

    

}


/*------ css lotions ------*/

/*------ css contact ------*/

/*------ css advertisements ------*/

/*------ css about ------*/